<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Layout/Layout :: headLayout}"></head>
<body>
<header th:replace="~{Layout/Layout :: headerLayout}"></header>
<div class="container"style="margin-top:80px">
    <h1>LISTADO DE HOJAS DE REPARTO</h1>

    <div class="table-responsive">
        <table class="table table-hover align-middle table-bordered text-center rounded-3 overflow-hidden">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>CANTIDAD</th>
                <th>FECHA</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="reg:${listHoja}">
                <td th:text="${reg.codHoj}"></td>
                <td th:text="${reg.cantidadPed}"></td>
                <td th:text="${reg.fechaReparto}"></td>
                <td>
                    <a th:href="@{'/generarHojaReparto/' + ${reg.codHoj}}" target="_blank" class="btn btn-info" style="font-weight: 600;">GENERAR</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <!-- Paginación -->
    <div>
        <ul class="pagination" th:if="${totalPages > 0}">
            <li th:class="${currentPage == 1} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/listarHoja(page=1)}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li th:if="${currentPage > 3}">
					<span>
				    	<span class="page-link pagination-dots">...</span>
				    </span>
            </li>
            <li th:each="page,stat : ${#numbers.sequence(1, totalPages)}" th:class="${page == currentPage} ? 'page-item active' : 'page-item'">

		            <span th:if="${currentPage >= page - 2 and currentPage <= page + 2}">
				        <a class="page-link" th:href="@{/listarHoja(page=${page})}" th:text="${page}"></a>
				    </span>
            </li>
            <li th:if="${currentPage < totalPages - 2}">
					<span>
				    	<span class="page-link pagination-dots">...</span>
				    </span>
            </li>
            <li th:class="${currentPage == totalPages} ? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/listarHoja(page=${totalPages})}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<footer th:replace="~{Layout/Layout :: footerLayout}"></footer>
<script th:replace="~{Layout/Layout :: scriptLayout}"></script>
</body>
</html>