<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{Layout/Layout :: headLayout}">
	</head>
<body>
	<header th:replace="~{Layout/Layout :: headerLayout}"></header>
	<div class="container mt-4">
		<div class="col-sem-6">
			<form th:object="${cliente}" method="post" th:action="@{/salvarCliente}">
				<div class="card">
					<div class="card-header">
						<h3 th:if="${editar and !nuevo}">Editar cliente</h3>
						<h3 th:if="${editar and nuevo}">Nuevo cliente</h3>
						<h3 th:if="${!editar}">Datos del Cliente</h3>
					</div>
					<div class="card-body">
						<!-- Campo oculto para el código de cliente y campos de la página-->
						<input type="hidden" name="nuevo" th:value="${nuevo}" />
						<input type="hidden" name="page" th:value="${currentPage}" />
						<input type="hidden" name="codUsu.codUsu" th:field="*{codUsu.codUsu}" />
						<input type="hidden" th:field="*{codUsu.codTipoUsu.codTipoUsu}">
						<input th:if="${editar}" type="hidden" th:field="*{codCli}" />
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Código</label>
									<input th:if="${!nuevo}" type="text" th:field="*{codCli}" class="form-control" disabled/>
									<input th:if="${nuevo}" type="text" th:value="${nuevoCod}" class="form-control" disabled/>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Nombres</label>
									<input type="text" th:field="*{nombreCli}" name="nombreCli" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('nombreCli')}" th:errors="*{nombreCli}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Apellidos</label>
									<input type="text" th:field="*{apellidosCli}" name="apellidosCli" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('apellidosCli')}" th:errors="*{apellidosCli}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Dirección</label>
									<input type="text" th:field="*{direccionCli}" name="direccionCli" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('direccionCli')}" th:errors="*{direccionCli}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Teléfono</label>
									<input type="text" th:field="*{telefCli}" name="telefCli" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('telefCli')}" th:errors="*{telefCli}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>DNI</label>
									<input type="text" th:field="*{dniCli}" name="dniCli" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('dniCli')}" th:errors="*{dniCli}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Login</label>
									<input type="text" th:field="*{codUsu.nombreUsu}" name="codUsu.nombreUsu" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('codUsu.nombreUsu')}" th:errors="*{codUsu.nombreUsu}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Contraseña</label>
									<input type="password" th:if="${nuevo}" name="codUsu.contrasenaUsu" class="form-control" required th:disabled="${!editar}">
									<input type="password" th:if="${!nuevo}" value="*****"  name="codUsu.contrasenaUsu" id="contrasenaUsu" class="form-control" 
									oninput="showPassword()" th:disabled="${!editar}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<a th:href="@{/listarCliente(page=${currentPage})}" class="btn btn-primary">Regresar al Listado</a>
						<input type="submit" value="Grabar" th:if="${editar}">
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="~{Layout/Layout :: footerLayout}"></footer>
	<script th:replace="~{Layout/Layout :: scriptLayout}"></script>
	<script>
		function showPassword() {
		    var passwordField = document.getElementById("contrasenaUsu");
		    if (passwordField.value === "****") {
		        passwordField.value = "";
		    }
		    
		    passwordField.type = "password"; 
		    passwordField.setAttribute("required", "required");
		}
	</script>
</body>
</html>