<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{Layout/Layout :: headLayout}"></head>
<style>
	.info-box {
		background-color: lightcyan;
		min-height: 80px;
		display: flex;
	}

	.info-box i {
		font-size: 2rem;
		width: 78px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 15px;
		color: #fff;
	}

	.info-box div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 15px;
	}

	.info-box-number {
		font-weight: 700;
	}
</style>

<body onload="productosMasVendido(), reporteGananciaUltimaSemana(), pedidosEnEstado(), reporteClientesMasCompran()">
	<header th:replace="~{Layout/Layout :: headerLayout}"></header>
	<div class="container" style="margin-top:80px">
		<div class="content mt-3">
			<div class="container-fluid">
				<div class="" style="display: flex; width: 100%; justify-content: center; gap: 10px;">
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box" style="display: flex; justify-content: space-around; gap:6px">
							<a th:href="@{/report/productoStockBajo}" target="_blank"
								class="btn btn-warning info-box-number"> Reporte de Productos<br>con Stock Bajo </a>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Clientes Registrados</span>
								<span id="spanClientes" class="info-box-number" th:text="${totalClient}"> </span>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-danger elevation-1"><i class="fas fa-truck-moving"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Total de Pedidos por entregar</span>
								<span id="spanPedidosPorEntregar" class="info-box-number"
									th:text="${totalPedido}"></span>
							</div>
						</div>
					</div>

					<div class="clearfix hidden-md-up"></div>

					<div class="col-12 col-sm-6 col-md-3">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-success elevation-1"><i class="fas fa-cart-plus"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Total de Ventas Online</span>
								<span id="spanTotalComprasOnline" class="info-box-number"
									th:text="${totalVenta}">100</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<div class="card">
								<div class="card-header" style="background-color: #336B87; color: white">
									<h3 class="card-title" style="font-size: 16px; font-style: inherit;">REPORTE GRÁFICO
										DE COMPRAS EN LOS ÚLTIMOS 3 DÍAS
									</h3>

								</div>
								<div class="card-body">
									<div class="position-relative">
										<div id="grafico4" style="height: 350px; max-height: 700px; max-width: 700px;">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group mt-2">
							<div class="card">
								<div class="card-header" style="background-color: #505160; color: white">
									<h3 class="card-title" style="font-size: 16px; font-style: inherit;">REPORTE GRÁFICO
										DE MONTO DIARIO VENDIDO EN LA ÚLTIMA SEMANA</h3>

								</div>
								<div class="card-body">
									<div id="GananciaUltimaSemana"
										style="min-height: 350px; height: 350px; max-height: 700px; max-width: 700px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<div class="card">
								<div class="card-header" style="background-color: #2a3132; color: white">
									<h3 class="card-title" style="font-size: 16px; font-style: inherit;">
										REPORTE GRÁFICO DE PEDIDOS EN ESTADO
									</h3>

								</div>
								<div class="card-body">
									<div class="position-relative">
										<div id="grafico3"
											style="min-height: 350px; height: 350px; max-height: 700px; max-width: 700px;">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group mt-2">
							<div class="card">
								<div class="card-header" style="background-color: #68829e; color: white">
									<h3 class="card-title" style="font-size: 16px; font-style: inherit;">REPORTE GRÁFICO
										DE
										LOS 10 CLIENTES QUE MAS COMPRAN</h3>

								</div>
								<div class="card-body">
									<div id="grafico1"
										style="min-height: 350px; height: 350px; max-height: 700px; max-width: 700px;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">

					</div>
				</div>
			</div>
		</div>
	</div>


	<footer th:replace="~{Layout/Layout :: footerLayout}"></footer>
	<script th:replace="~{Layout/Layout :: scriptLayout}"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
	integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function productosMasVendido() {
		$.ajax({
			url: "/report/masvendido",
			type: "GET",
			dataType: "json",
			success: function (data) {

				// Obtener una referencia al elemento donde se renderizará el gráfico
				var controlPie1 = document.getElementById("grafico4");

				// Crea un objeto de gráfico con ECharts
				var graficoPie1 = echarts.init(controlPie1);

				// Configura los datos del gráfico
				var option = {
					title: {
						text: "Reporte de Productos más Comprados",
						subtext: "Los Últmos 3 Días",
						left: 'center'
					},
					tooltip: {
						trigger: 'item'
					},
					legend: {
						orient: 'vertical',
						left: 'left',
						bottom: '10px'
					},
					series: [
						{
							name: 'producto',
							type: 'pie',
							radius: '50%',
							data: data,
							emphasis: {
								itemStyle: {
									shadowBlur: 10,
									shadowOffsetX: 0,
									shadowColor: 'rgba(0, 0, 0, 0.8)'
								}
							},
							top: '10px'
						}
					]
				};

				// Establece la configuración del gráfico y renderizar
				graficoPie1.setOption(option);

			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log(textStatus, errorThrown);
			}
		});
	}

	function pedidosEnEstado() {
		$.ajax({
			url: "/report/estpedido",
			type: "GET",
			dataType: "json",
			success: function (data) {
				var myChart = echarts.init(document.getElementById('grafico3'));
				// Extraer los nombres y valores de los objetos en la lista 'data'
				var nombres = data.map(function (item) {
					return item.name;
				});
				var valores = data.map(function (item) {
					return item.value;
				});
				option = {
					title: {
						text: 'Gráfico de Pedidos por Estado',
						left: 'center'
					},
					legend: {
						data: ['Pedidos'],// Nombre de la serie en la leyenda
						bottom: 10
					},
					xAxis: {
						type: 'category',
						data: nombres
					},
					yAxis: {
						type: 'value'
					},
					series: [
						{
							name: 'Pedidos', // Nombre de la serie
							data: valores,
							type: 'bar',
							itemStyle: {
								color: 'rgba(253, 81, 0, 0.8)' // Cambiar el color de las barras
							}
						}
					]
				};
				// Establecer la configuración en el gráfico
				myChart.setOption(option);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log(textStatus, errorThrown);
			}
		});
	}


	function reporteGananciaUltimaSemana() {
		$.ajax({
			url: "/report/semana",
			type: "GET",
			dataType: "json",
			success: function (data) {
				// Inicializar ECharts
				var myChart = echarts.init(document.getElementById('GananciaUltimaSemana'));
				option = {
					title: {
						text: 'Gráfico de Cantidad S/. En la Ultima Semana',
						left: 'center'
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						data: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
					},
					yAxis: {
						type: 'value'
					},
					series: [
						{
							data: data,
							type: 'line',
							areaStyle: {
								color: 'rgba(0, 128, 255, 0.3)'
							},
							label: {
								show: true, // Mostrar etiquetas en los puntos de datos
								position: 'top' // Posición de la etiqueta ('top', 'bottom', 'inside', etc.)
							}
						}
					]
				};
				// Establecer la configuración en el gráfico
				myChart.setOption(option);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log(textStatus, errorThrown);
			}
		});
	}
	function reporteClientesMasCompran() {
		$.ajax({
			url: "/report/clientesCompra",
			type: "GET",
			dataType: "json",
			success: function (data) {

				// Inicializar ECharts
				var myChart = echarts.init(document.getElementById('grafico1'));

				const total = data.reduce((total, data) => {
					return total + data.value;
				}, 0);

				var grafico = {

					value: total,
					itemStyle: {
						color: 'none',
						decal: {
							symbol: 'none'
						}
					},
					label: {
						show: false
					}
				}

				data.push(grafico)

				option = {
					title: {
						text: 'Clientes que más Compran',
						left: 'center'
					},
					tooltip: {
						trigger: 'item'
					},
					legend: {
						top: '5%',
						left: 'center',
						selectedMode: false
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							radius: ['40%', '70%'],
							center: ['50%', '70%'],
							// ajustar el angulo de inicio
							startAngle: 180,
							label: {
								show: true,
								formatter(param) {
									// corregir el porcentaje
									return param.name + ' (' + param.percent * 2 + '%)';
								}
							},
							data: data
						}
					]
				};
				// Establecer la configuración en el gráfico
				myChart.setOption(option);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				console.log(textStatus, errorThrown);
			}
		});
	}
</script>

</html>