<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{Layout/Layout :: headLayout}"></head>
<body>
	<header th:replace="~{Layout/Layout :: headerLayout}"></header>
	<div class="container mt-4">
		<div class="col-sem-6">
			<form th:object="${usuario}" method="post" th:action="@{/salvarUsuario}">
				<div class="card">
					<div class="card-header">
						<h3 th:if="${editar and !nuevo}">Editar usuario</h3>
						<h3 th:if="${editar and nuevo}">Nuevo usuario</h3>
						<h3 th:if="${!editar}">Datos del Usuario</h3>
					</div>
					<div class="card-body">
						<!-- Campo oculto para el código de usuario y la página-->
						<input type="hidden" name="nuevo" th:value="${nuevo}" />
						<input type="hidden" name="page" th:value="${currentPage}" />
						<input th:if="${editar}" type="hidden" th:field="*{codUsu}" />
						<div class="form-group">
							<label>Código</label>
							<input th:if="${!nuevo}" type="text" th:field="*{codUsu}" class="form-control" disabled/>
							<input th:if="${nuevo}" type="text" th:value="${nuevoCod}" class="form-control" disabled/>
						</div>
						<div class="form-group">
							<label>Nombre de Usuario</label>
							<input type="text" th:field="*{nombreUsu}" name="nombreUsu" class="form-control" th:disabled="${!editar}"/>
							<small th:if="${#fields.hasErrors('nombreUsu')}" th:errors="*{nombreUsu}" class="form-text text-danger"></small>
						</div>
						<div class="form-group">
							<label>Contraseña</label>
							<input type="password" th:if="${nuevo}" name="contrasenaUsu" class="form-control" required th:disabled="${!editar}">
							<input type="password" th:if="${!nuevo}" value="*****" name="contrasenaUsu" id="contrasenaUsu" class="form-control" oninput="showPassword()" th:disabled="${!editar}"/>
						</div>
						<div class="form-group">
							<label>Tipo Usuario</label>
							<select th:field="*{codTipoUsu}" class="form-control form-select form-select-borderless" th:disabled="${!editar}">
						    	<option th:if="${tipoUsuario.codTipoUsu != 1 and editar}" th:each="tipoUsuario : ${listaTipoUsu}" th:value="${tipoUsuario.codTipoUsu}" th:text="${tipoUsuario.descTipoUsu}"></option>
						    	<option th:if="${!editar}" th:each="tipoUsuario : ${listaTipoUsu}" th:value="${tipoUsuario.codTipoUsu}" th:text="${tipoUsuario.descTipoUsu}"></option>
							</select>
						</div>
					</div>
					<div class="card-footer">
						<a th:href="@{/listarUsuario(page=${currentPage})}" class="btn btn-primary">Regresar al Listado</a>
						<input type="submit" value="Grabar" th:if="${editar}">
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="~{Layout/Layout :: footerLayout}"></footer>
	<script th:replace="~{Layout/Layout :: scriptLayout}"></script>
</body>
</html>