<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{Layout/Layout :: headLayout}">
	</head>
<body>
	<header th:replace="~{Layout/Layout :: headerLayout}"></header>
	<div class="container"style="margin-top:80px">
		<div class="col-sem-6">
			<form th:object="${producto}" method="post" th:action="@{/salvarProducto}" enctype="multipart/form-data">
				<div class="card">
					<div class="card-header">
						<h3 th:if="${editar and !nuevo}">Editar producto</h3>
						<h3 th:if="${editar and nuevo}">Nuevo producto</h3>
						<h3 th:if="${!editar}">Datos del Producto</h3>
					</div>
					<div class="card-body">
						<!-- Campo oculto para el código de usuario y campos de la página-->
						<input type="hidden" name="nuevo" th:value="${nuevo}" />
						<input type="hidden" name="page" th:value="${currentPage}" />
						<input th:if="${editar}" type="hidden" th:field="*{codPro}" />
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Código</label>
									<input th:if="${!nuevo}" type="text" th:field="*{codPro}" class="form-control" disabled/>
									<input th:if="${nuevo}" type="text" th:value="${nuevoCod}" class="form-control" disabled/>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Nombre del Producto</label>
									<input type="text" th:field="*{nombrePro}" name="nombrePro" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('nombrePro')}" th:errors="*{nombrePro}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Marca</label>
									<select th:field="*{marca}" class="form-select" th:disabled="${!editar}">
								    	<option th:each="marca : ${listaMarcas}" th:value="${marca.codMarca}" th:text="${marca.nombreMarca}"></option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Precio</label>
									<input type="text" th:field="*{precioPro}" name="precioPro" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('precioPro')}" th:errors="*{precioPro}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Categoría</label>
									<select th:field="*{categoria}" class="form-select" th:disabled="${!editar}">
								    	<option th:each="categoria : ${listaCategorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Stock</label>
									<input type="text" th:field="*{stock}" name="precioPro" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Descripción</label>
									<textarea rows="3" th:field="*{descripcionPro}" name="descripcionPro" class="form-control" th:disabled="${!editar}"/>
									<small th:if="${#fields.hasErrors('descripcionPro')}" th:errors="*{descripcionPro}" class="form-text text-danger"></small>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label th:if="${editar}">Subir Imágen</label>
									<label th:if="${!editar}">Imagen</label>
									<div class="input-group mt-2"  th:disabled="${!editar}">
										<div class="custom-file">
											<img th:if="${producto.imgPro==null}" th:src="@{/imagenes/agregar-producto.png}">
											<img th:if="${producto.imgPro!=null}" th:src="@{'/uploads/' + ${producto.imgPro} + '?categoria=' + ${producto.categoria.nombreCategoria}}"
     											alt="Imagen" width="100" height="100"/>
											<input th:if="${editar}" type="file" name="imagen" id="imagen" class="input"/> 
											<small th:if="${#fields.hasErrors('imgPro')}" th:errors="*{imgPro}" class="form-text text-danger"></small>
										</div>
									</div>							
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<a th:href="@{/listarProducto(page=${currentPage})}" class="btn btn-primary">Regresar al Listado</a>
						<input type="submit" value="Grabar" th:if="${editar}">
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="~{Layout/Layout :: footerLayout}"></footer>
	<script th:replace="~{Layout/Layout :: scriptLayout}"></script>
</body>
</html>